
/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #642cbe;
  color: white;
  padding: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #444;
  overflow: hidden;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav ul li a:hover {
  background: #007bff;
  border-radius: 5px;
}

/* Sections */
section {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Skills */
.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  background: #007bff;
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

/* Footer */
footer {
  background: #444;
  color: white;
  padding: 15px;
  margin-top: 20px;
}
.contact{
  display: flex;
  vertical-align: middle;
  color: rgb(0, 136, 255);
}
.project{
  color: #007bff;
}